body {
  background-image: url(/background.jpg);
  background-size: cover;
  back
}

button {
  font-size: 5em;
}
h3 {
  font-size: 4.5em;
  background-color: whitesmoke;
  padding: 20px 0;
  margin: 10vh 0;
  text-align: center;
  font-weight: 700;
  border: 3px solid #000;
  box-shadow: aqua;
}
#numAndOps {
  display: flex;
}
#calculator-body {
  border: 5px solid red;
  background-color: #000;
  display: block;
  width: 80vw;
  height: auto;
  margin: auto;
  margin-bottom: 15px;
}
#numberContainer {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 70%;
  height: 100%;
}
#operatorContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.buttonOperator {
  font-size: 3.28em;
}
#display {
  font-family: "Bank Gothic", "Futura", "Arial";
  text-align: right;
  color: red;
  width: 90%;
  margin: 15px auto;
  background-color: #99cc99;
  font-size: 5em;
}
footer {
  color:#ccc;
  font-weight: 800;
  text-align: center;
  font-size: 2.5em;
}
button {
  margin: 10px;
}
